*{
    margin:0;
    background-color: #BA4949;
}

.container{
    text-align:center;
    margin:auto;
    padding:20px;
    font-family: "Roboto", sans-serif;
}

.title{
    font-size: 2.3rem;
    color:white;
    margin-bottom: 40px;
}
#timer{
    background-color: #C15C5C;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    width:300px;
    height:300px;
    border-radius: 50%;
    margin-bottom:40px;
    box-shadow: 0px 0px 2px white;
}
.timer{
    font-size: 4rem;
    color:white;
    text-align: center;
    background-color: #C15C5C; 
}
button{
    margin-right: 25px;
    font-size: 1.3rem;
    padding:10px 15px;
    border-radius: 4px;
    border:none;
    margin-bottom:20px;
    color:white;
    text-transform: uppercase;
    box-shadow:1px 1px 2px black;
    cursor: pointer;
}
button:hover{
    opacity:0.5;
}
.short-break{
    background-color: rgb(164, 69, 164);
}
.long-break{
    background-color: rgb(99, 69, 164);
}
#start{
    background-color: #4CAF50;
}
#stop{
    background-color: #c0392b;
}
#reset{
    background-color: #1d84d8;
}